* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .productlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .productlistContainer {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      margin: 10px 0;
      padding: 10px 0;
      .productlistText {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 30px;
        padding-top: 30px;
        h1 {
          text-align: end;
          font-weight: 700;
          font-size: 40px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
          z-index: 3;
        }
        .productlistItems{
          width: 60%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          .filterbtns{
            width: 48%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            button{
              width: 48%;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #ed1d24;
              font-weight: 700;
              font-size: 12px;
              border: none;
              border-radius: 5px;
              &:hover {
                background-color: black;
                color: #ed1d24;
                border: 2px solid #ed1d24;
                font-size: 15px;
                transition: 1s ease;
              }
            }
        }
          .search {
            width: 48%;
            display: flex;
            align-items: center;
            justify-content: center;
            input {
              width: 100%;
              height: 40px;
              border-radius: 5px;
              border: 2px solid #ed1d24;
              padding-left: 20px;
              font-size: 16px;
              font-weight: 500;
              display: flex;
              align-items: center;
              color: #ed1d24;
            }

          }
        }
        
      }
      .productlistCards {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .productlist {
      .productlistContainer {
        .productlistText {
          justify-content: center;
          gap: 15px;
          .productlistItems{
            width: 100%;
            gap: 15px;
            .filterbtns{
              width: 100%;
            }
            .search{
              width: 100%;
            }
          }
        }
      }
    }
  }
  