* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .homePaymentBtn {
    width: 155px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    margin: 30px 0;
    background-color: #ed1d24;
    font-weight: 700;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    gap: 5px;
    &:hover {
      background-color: black;
      color: #ed1d24;
      font-size: 18px;
      transition: 1s ease;
    }
  }
  .homeContainer {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 10px 0;
    padding: 10px 0;
    .homeText {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin-top: 30px;
      padding-top: 30px;
      h1 {
        text-align: end;
        font-weight: 700;
        font-size: 40px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        border-right: 1px solid #bebbbf;
        padding-right: 30px;
        z-index: 3;
      }
      p {
        color: #ed1d24;
        font-weight: 500;
        font-size: 18px;
        font-family: monospace;
        z-index: 3;
      }
    }
    .homeCards {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width: 768px) {
  .home {
    .homeContainer {
      .homeText {
        flex-direction: column;
        gap: 5px;
        h1 {
          font-size: 25px;
          text-align: center;
          padding: 0;
          padding-bottom: 5px;
          border: none;
          border-bottom: 1px solid #ed1d24;
        }
      }
    }
  }
}
