* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .headerContact {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: #F5F5F5;
    align-items: center;
    justify-content: center;
    position: relative;
    .headerContactMobileNavbar {
      width: 100%;
      height: 300px;
      position: absolute;
      left: 0px;
      bottom: -300px;
      z-index: 4;
      background-color: white;
      padding-left: 30px;
      display: none;
      nav {
        ul {
          display: flex;
          flex-direction: column;
          li {
            list-style: none;
            padding: 10px;
            border-radius: 1px;
            position: relative;
            .homeDropdown {
              display: none;
            }
            .pagesDropdown {
              display: none;
            }
            .shopDropdown {
              display: none;
            }
            &:hover {
              background: black;
              transition: 0.5s ease;
              a {
                color: white;
                transition: 0.5s ease;
              }
              .homeDropdown {
                background-color: black;
                display: block;
                position: absolute;
                left: 0;
                bottom: -150px;
                z-index: 3;
                width: 290px;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding-left: 30px;
              }
              .pagesDropdown {
                background-color: black;
                display: block;
                position: absolute;
                left: 0;
                bottom: -150px;
                z-index: 3;
                width: 290px;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding-left: 30px;
              }
              .shopDropdown {
                background-color: black;
                display: block;
                position: absolute;
                left: 0;
                bottom: -100px;
                z-index: 3;
                width: 290px;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding-left: 30px;
              }
            }
            a {
              text-decoration: none;
              font-size: 16px;
              font-weight: 700;
              color: #373737;
              font-family: monospace;
            }
          }
        }
      }
    }
    .container {
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      img {
        width: 160px;
        cursor: pointer;
        box-shadow: white -10px 10px 10px;
      }
      .headerContactItems {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        padding-right: 20px;
        nav {
          ul {
            display: flex;
            align-items: center;
            justify-content: center;
            li {
              list-style: none;
              padding: 25px;
              border-radius: 1px;
              position: relative;
              .homeDropdown {
                display: none;
              }
              .pagesDropdown {
                display: none;
              }
              .shopDropdown {
                display: none;
              }
              &:hover {
                background: white;
                transition: 0.5s ease;
                a {
                  color: black;
                  transition: 0.5s ease;
                }
                .homeDropdown {
                  background-color: white;
                  display: block;
                  position: absolute;
                  left: 0;
                  bottom: -150px;
                  z-index: 3;
                  width: 290px;
                  height: 150px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  padding-left: 30px;
                }
                .pagesDropdown {
                  background-color: white;
                  display: block;
                  position: absolute;
                  left: 0;
                  bottom: -150px;
                  z-index: 3;
                  width: 290px;
                  height: 150px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  padding-left: 30px;
                }
                .shopDropdown {
                  background-color: white;
                  display: block;
                  position: absolute;
                  left: 0;
                  bottom: -100px;
                  z-index: 3;
                  width: 290px;
                  height: 100px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  padding-left: 30px;
                }
              }
              a {
                text-decoration: none;
                font-size: 16px;
                font-weight: 700;
                color: #373737;
                font-family: monospace;
              }
            }
          }
        }
        input {
          width: 40%;
          height: 30px;
          text-align: end;
          background-color: transparent;
          font-size: 16px;
          font-weight: 700;
          font-family: monospace;
          border: transparent;
          border-bottom: 2px solid #ed1d24;
          padding-right: 5px;
          color: #ed1d24;
        }
      }
      button {
        width: 50px;
        height: 50px;
        display: none;
        font-size: 35px;
        background-color: #ed1d24;
        color: white;
        border: none;
        box-shadow: #ed1d24 10px 10px 10px;
        border: 2px solid black;
        &:active {
          transform: translateY(4px) translateX(4px);
          box-shadow: #ed1d24 0px 0px 0px;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .headerContact {
      .container {
        width: 100%;
        padding: 30px;
        .headerContactItems {
          display: none;
        }
        button {
          display: block;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  